.advantages {
  padding-top: 97px;
  padding-bottom: 135px;
  background-color: $color-gray;

  @include vp-1199 {
    padding-top: 91px;
    padding-bottom: 94px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 64px;
  }
}

.advantages__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 44px;
  padding-left: 11px;

  @include vp-1199 {
    margin-bottom: 42px;
    padding-left: 0;
    padding-right: 20px;
  }

  @include vp-767 {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}

.advantages__items-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  @include vp-767 {
    gap: 39px;
  }
}

.advantages__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 250px;
  width: 89.5%;
  justify-content: space-between;

  @include vp-1199 {
    column-gap: 25px;
    width: 100%;
    justify-content: space-around;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    row-gap: 31px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  max-width: 340px;
  padding-top: 73px;
  border-top: 2px solid rgba(209, 10, 66, 0.2);

  @include vp-1199 {
    border-top: none;
    padding-top: 42px;
    max-width: 315px;
    min-width: 326px;
    gap: 31px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 0;
    min-width: unset;
    max-width: unset;
  }
}

.advantages__item:first-of-type {
  padding-left: 19px;

  @include vp-1199 {
    padding-left: 0;
  }
}

.advantages__row--first .advantages__item {
  padding-bottom: 77px;
  padding-top: 0;
  border-top: none;

  @include vp-1199 {
    padding-bottom: 44px;
  }

  @include vp-767 {
    padding-bottom: 0;
  }
}

.advantages__number-container {
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding-top: 5px;
  }
}

.advantages__special {
  position: absolute;
  left: 0;
  top: -13px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 240px;
  min-height: 307px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  padding: 53px 34px 58px 34px;
  text-align: center;

  @include vp-1199 {
    position: relative;
    width: 65%;
    padding-top: 32px;
    padding-bottom: 38px;
    min-height: 239px;
    top: 0;
  }

  @include vp-767 {
    margin-top: 3px;
    width: calc(100% + 30px);
    padding-top: 37px;
    padding-bottom: 43px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.advantages__special-number {
  margin-top: 0;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 7.4rem;
  line-height: 7.4rem;
  padding-right: 5px;

  @include vp-1199 {
    margin-bottom: 5px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.advantages__special-subtitle {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2.6rem;
  margin-top: 0;
  margin-bottom: 39px;

  @include vp-1199 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-bottom: auto;
  }
}

.advantages__special-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0;

  @include vp-1199 {
    max-width: 178px;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages__number-text {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #2e35ac;
  background: unset;
  background-clip: unset;
  -webkit-text-fill-color: unset;
  text-align: start;
  display: block;
  width: 100%;

  @include vp-767 {
    text-align: center;
  }
}

.advantages__number {
  display: flex;
  font-weight: 700;
  font-size: 7.1rem;
  line-height: 7.1rem;
  align-items: center;
  background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  margin-top: -3px;

  @include vp-1199 {
    font-size: 5.8rem;
    line-height: 5.8rem;
  }
}

.advantages__number-container--first .advantages__number {
  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
}

.advantages__text-container {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    text-align: center;
  }
}

.advantages__text-title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
  margin-top: 0;
  margin-bottom: 7px;

  @include vp-1199 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 3px;
  }
}

.advantages__text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  max-width: 240px;
  margin: 0;
}
