.feedback {
  display: flex;
  flex-direction: row;

  @include vp-1199 {
    flex-direction: column;
  }
}

.feedback__container {
  width: 50%;
  background-color: $color-default-black;
  color: $color-default-white;

  @include vp-1199 {
    width: 100%;
    padding-right: 30px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.feedback__form-container {
  margin-left: auto;
  max-width: 580px;
  padding: 56px 169px 69px 0;

  @include vp-1199 {
    max-width: unset;
    width: 64%;
    padding: 61px 0 69px 0;
    margin-left: auto;
    margin-right: auto;
  }

  @include vp-767 {
    padding: 63px 0 69px 0;
    width: 100%;
  }
}

.feedback__form-title {
  font-family: $ff-alumni;
  font-weight: 800;
  font-size: 5.4rem;
  line-height: 8.4rem;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 8px;

  @include vp-1199 {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 5rem;
    margin-bottom: 23px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 39px;
    letter-spacing: 0.03em;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__form-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;

  @include vp-1199 {
    gap: 60px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.feedback__submit-btn {
  width: 100%;
  min-height: 54px;
  border-width: 3px;
  font-size: 1.4rem;
  line-height: 1.6rem;

  @include vp-1199 {
    margin-left: auto;
    margin-right: auto;
  }

  @include vp-767 {
    margin-top: 2px;
  }
}
